################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/UnoWithAva/.vs
/src/UnoWithAva/UnoWithAva/.vscode
